.home {
  text-align: center;
}

/* ul {
    width: 10%;
    margin: auto;
} */

ul li {
    width: 10%;
    /* margin: auto; */
    margin-left: 25%
}

.editForm {
    margin-right: 15%
}

.ContentForm {
    margin-right: 15%
}

.button {
  background-color: #2DC677;
}

.oscilloscope {
  width: 60%;
}
